/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
  background: -webkit-radial-gradient(circle, white 15%, gray 85%);
}

/* ---- particles.js container ---- */

#particless-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  display: none;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* --- Custom Css ---*/
#section2{
    padding-top: 0px !important;

}
.home-section2-tabs-events{
  position: relative;
  bottom: 0;
}
.sec2-div1{
  padding-top: 4%;
  padding-bottom: 4%;
}
.sec2-div2{
  overflow-y: hidden;
  bottom: 29px;
  background-color: transparent;
  padding-top: 40px;
 
  
}
.raise {
  position: absolute;
}

#bird1{
  margin: 1em auto;
    /*-webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;*/
  width: 250px;
  height: 250px;
  margin-left: 75%;
  margin-top: 8%;

}
#bird2{
      margin: 1em auto;
    /*-webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;*/
  width: 250px;
  height: 250px;
  margin-left: 80%;
  margin-top: 22%;

}
#bird3{
    margin: 1em auto;
    /*-webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;*/
  width: 250px;
  height: 250px;
  margin-top: 22%;
  margin-left: 22%;
  
}
#bird4{
      margin: 1em auto;
   /* -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;*/
  width: 150px;
  height: 150px;
  margin-left: 10%;
  margin-top: 8%;

}
#a-sphere{
  
}
.border{
  border-left: 1px solid #878787;
  box-shadow: white 2px;
}
.footer-raise{
  z-index: 10;
  position: absolute;
  text-align: center;
}
.tabs{
  margin-top: 30px;
  -webkit-transition: margin 0.2s ease-out;
  -moz-transition: margin 0.2s ease-out; 
  -o-transition: margin 0.2s ease-out;
}
.tabs:hover{
  margin-top: 0px;
}
.tabs a{
  width: 100%;
  height: 100%;
  line-height: 100%;

}
.tabs a img{
  width: 100%; 
}
#img1:hover
{
  background-image: url("../images/blue_dots.png");
}
.bg-dots{
  background-color: #2a2a2a;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out; 
  -o-transition: background 0.2s ease-out;
}
.bg-dots:hover{
  background-color: #1874cd;
  color: #ccc;
}
.arrow-up {
  position: relative;
}
.arrow-up:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #1874cd;
  border-width: 30px;
  margin-left: -30px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out; 
  -o-transition: opacity 0.3s ease-out;
}
.arrow-up:hover:after{
  opacity: 1;
}



#footer-logo{
  width: 107px;
  height: 27px;
  position: absolute;
  right: 2px;
  bottom: 0px;
}
.copyright{
  position: absolute;
  bottom: 5px;
  left: 45%;
  color: #000;
  font-size: 15px;
  font-family: 'Roboto';
}
.foot{
  !border-top: 3px solid #00688B;
  height: 35px;
  bottom: 0%;
  width: 100%;
  text-align: center;
  /* Safari 4-5, Chrome 1-9 */
  !background: -webkit-gradient(linear, 45deg, from(#00688B), color-stop(0.35, #EEDFCC), color-stop(0.65, #EEDFCC), to(#00688B));

  /* Safari 5.1+, Chrome 10+ */
  !background: -webkit-repeating-linear-gradient(300deg, #EEDFCC, #EEDFCC 600px, #00688B 300px, #00688B);

  /* Firefox 3.6+ */
  !background: -moz-linear-gradient(45deg, #00688B, #EEDFCC, #00688B);

  /* IE 10 */
  !background: -ms-linear-gradient(45deg, #00688B, #EEDFCC, #00688B);

  /* Opera 11.10+ */
  !background: -o-linear-gradient(45deg, #00688B, #EEDFCC, #00688B); 
}
#copy-p{
  margin-top: 10px;
  margin-left: 16%;
  margin-right: auto;
  position: relative;
}


/**Sphere*/
/*@-webkit-keyframes spinner {
    0% { -webkit-transform: rotateY(0deg);    }
    50%   { -webkit-transform: rotateY(-20deg); }
    75%   { -webkit-transform: rotateY(20deg); }
    100%   { -webkit-transform: rotateY(0deg); }
  }*/

  /* all other browsers */
  /*@keyframes spinner {
    0% {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    50% {
      -moz-transform: rotateY(-20deg);
      -ms-transform: rotateY(-20deg);
      transform: rotateY(-20deg);
    }
    75% {
      -moz-transform: rotateY(20deg);
      -ms-transform: rotateY(20deg);
      transform: rotateY(20deg);
    }
    100% {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes spinner-b {
    0% { -webkit-transform: rotateY(0deg);    }
    50%   { -webkit-transform: rotateY(-25deg); }
    75%   { -webkit-transform: rotateY(25deg); }
    100%   { -webkit-transform: rotateY(0deg); }
  }*/

  /* all other browsers */
  /*@keyframes spinner-b {
    0% {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    50% {
      -moz-transform: rotateY(-25deg);
      -ms-transform: rotateY(-25deg);
      transform: rotateY(-25deg);
    }
    75% {
      -moz-transform: rotateY(25deg);
      -ms-transform: rotateY(25deg);
      transform: rotateY(25deg);
    }
    100% {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }*/
   #a-sphere {
    margin: 1em auto;
    width: 350px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
    margin: auto;
  margin-left: 38%;
  margin-top: 2%;
  }
  /*#spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }

    #spinner-b {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #spinner-b:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }*/


  #footer-back-div {
 position: relative;
 overflow: hidden;
 color: #fff;
 height:30px;
}
  #footer-back-div::after {
 content: '';
 position: absolute;
 top: 0; left: 0;
 width: 100%; height: 100%;
 background: #00688B;
 -webkit-transform-origin: 100% 0;
 -moz-transform-origin: 100% 0;
 -ms-transform-origin: 100% 0;
 transform-origin: 100% 0;
 -webkit-transform: skew(-60deg);
 -ms-transform: skew(-60deg);
 -moz-transform: skew(-60deg);
 transform: skew(-60deg);
 z-index: -1;
}
.rspan
{
  position: absolute;
  bottom: 5px;
  color: #FFF;
  font-size: 15px;
  font-family: "Roboto";
}
#cred
{
  left: 4%;
}
#slogo
{
  left :2%;
}



/************** Modal CSS ***************/

.modal, .videomodal{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 8;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}

.modal .close, .videomodal .close{
  float: right;
  position: inherit;
  right: 10px;
  color: #FFF;
  display: none;
}

.modal .close:hover,.videomodal .close:hover{
  cursor: pointer;
}

.modal .modalcontent,.videomodal .modalcontent{
  text-align: justify;
  height: 600px;
  background: transparent;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  display: none;
  //box-shadow: 0px 3px 4px 5px rgba(0,0,0,0.3);
  padding: 10px;
}

.modal .modalcontent .fb-page{
  box-shadow: 0px 3px 4px 5px rgba(0, 0, 0, 0.5);
  //padding: 5px;
  background: rgba(0,0,0,1);
  //border-radius: 10px;
}

.videomodal .modalcontent{
  background: transparent;
  box-shadow: none;
  padding: 10px;
  padding-top: 30px;
  height: auto;
  width: auto;
}

.videomodal .modalcontent .videoframe{
  box-shadow: 0px 3px 4px 5px rgba(0,0,0,0.5);
  border-radius: 10px 10px 10px 10px;
}

#triangle-right1:hover,#triangle-right3:hover{
  cursor: pointer;
}



/****** Rotating Cube ********/
.rotatingCube{
  position: absolute;
  z-index: 80;
  left: 42px;
  bottom: 180px;
}

.cube {
  position: relative;
  width: 150px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 80;  
}

.cube div {
  position: absolute;
  width: 150px;
  height: 150px;
}

.back {
  transform: translateZ(-60px) rotateY(180deg);
  -webkit-transform: translateZ(-60px) rotateY(180deg);
    background: url("../images/back.jpg") no-repeat center center / 100% 100% transparent;
}
.right {
  background: url("../images/right.jpg") no-repeat center center / 100% 100% transparent;
  transform: rotateY(-270deg) translateX(60px);
  -webkit-transform: rotateY(-270deg) translateX(60px);
  z-index: 997;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
.left {
  background: url("../images/left.jpg") no-repeat center center / 100% 100% transparent;
  transform: rotateY(269deg) translateX(-60px);
  -webkit-transform: rotateY(270deg) translateX(-60px);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  z-index: 999;
}
.top {
  background: rgba(0,0,0,0.3);
  transform: rotateX(-90deg) translateY(-60px);
  -webkit-transform: rotateX(-90deg) translateY(-60px);
  transform-origin: top center;
  -webkit-transform-origin: top center;
}
.bottom {
  background: rgba(0,0,0,0.3);
  transform: rotateX(90deg) translateY(60px);
  -webkit-transform: rotateX(90deg) translateY(60px);
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
}
.front {
  background: url("../images/front.jpg") no-repeat center center / 100% 100% transparent;
  transform: translateZ(90px);
  -webkit-transform: translateZ(90px);
}
.cube:hover{
   /*animation-play-state: paused;*/
}

@keyframes spin {
  0% { transform: rotateY(0.1deg); }
  20% { transform: rotateY(0.1deg); }
  25% { transform: rotateY(90.1deg); }
  45% { transform: rotateY(90.1deg); }
  50% { transform: rotateY(180.1deg); }
  70% { transform: rotateY(180.1deg); }
  75% { transform: rotateY(270.1deg); }
  95% { transform: rotateY(270.1deg); }
  100% { transform: rotateY(360.1deg); }
}

.cube {
  animation: spin 8s infinite linear;
}



.polysphere{
  animation: saturate 8s infinite linear;
}

@keyframes saturate{
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}